body{
    background-image: linear-gradient( to right, seagreen,purple,pink);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.container{
    background-color: white;
    width: 300px;
    margin: 180px auto;
}
.btn{
    padding:40px;
    position: relative;
    left: -20px;
   
}
#colorpicker{
    position: relative;
    right: -50px;
    top:-50px;
}
.container:hover{
    background-color: rgb(205, 149, 9);
    width: 300px;
    margin: 180px auto;
    color: aqua;
    border-radius: 50px;
}
